@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Krona+One&family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__conteudo {
    width: 615px;
}

.container__conteudo__titulo {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
}

.container__conteudo__paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

#mark {
    color: red;
    border: 1px solid red;
    padding: 3px;
}